* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Parallax {
  display: flex;
  justify-content: center;

  &__background,
  &__background-triangles {
    width: 2100px;
    height: 2580px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  &__background {
    background-image: url("background.png");
  }

  &__background-triangles {
    background-image: url("background-triangles.png");
  }

  &__content {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 100px;

    &__heading,
    &__cta {
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    &__heading {
      background-color: rgb(175, 15, 15);
      width: 40%;
      padding: 40px;

      &__text {
        margin: 10px 0;
        font-size: 60px;
      }

      &__caption {
        margin: 0;
        font-size: 20px;
      }
    }

    &__cta {
      background-color: #5a7ad3;
      width: 60%;
      padding: 40px;

      font-size: 20px;
      color: rgb(51, 13, 13);

      margin-top: 120px;
    }
  }
}
