body{
  background: #5a5858;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
}
.store-card{
  width: 18rem;
}
.player-card{
  width: 10rem;
}
.container {
  

  justify-content: center;
  align-items: center;
    height : 450px;
    width: 530px;
   color:rgba(11, 12, 12, 0.651);
   background: #e3e7eb;
   padding: 1.5em;
   border-radius: 1em;

}

.boxes{
margin: 150px;
margin-top: 150px;
background-color: rgb(19, 3, 13);
overflow: hidden;
height: 700px;
max-height: 65vh;
box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
border-radius: 10px 10px 10px 10px;

}

.grids{
  max-width: 50%;
  margin: auto;
}

.box{
  margin: 20px;
  margin-top: 150px;
  background-color: rgb(11, 32, 221);
  overflow: hidden;
  height: 100px;
  max-height: 95vh;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  
  }
  
  .grid{
    max-width: 20%;
    margin: left;
  }
  
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  