body{
  background: #5a5858;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
}
.store-card{
  width: 18rem;
}
.player-card{
  width: 10rem;
}
.container {
  

  justify-content: center;
  align-items: center;
    height : 400px;
    width: 530px;
   color:rgba(11, 12, 12, 0.651);
   background: #e3e7eb;
   padding: 1.5em;
   border-radius: 1em;

}